:root {
  --navigation-height: 44px;
  --navigation-gap: 12px;
  --navigation-item-gap: calc(var(--navigation-gap) / 2);
  --navigation-item-font-weight: var(--font-weight-medium);
  --navigation-item-color: var(--color-primary-selected);
  --navigation-item-text-shadow: 0 0 0 var(--navigation-item-color);
  --navigation-item-border-width: 1px;
  --navigation-item-border-color: transparent;
  --navigation-item-border-style: solid;
}

.navigation {
  height: var(--navigation-height);
  display: flex;
  align-items: center;
  gap: var(--navigation-gap);
}

.navigation__link {
  display: block;
  padding: 10px var(--navigation-item-gap);
  text-decoration: none;
  color: var(--navigation-item-color);
  font-size: var(--font-size);
  font-weight: var(--navigation-item-font-weight);
  border-bottom: var(--navigation-item-border-width)
    var(--navigation-item-border-style) var(--navigation-item-border-color);
  text-shadow: var(
    --navigation-item-text-shadow
  ); /* Trick to avoid text "jumping" on hover */

  &:hover {
    --navigation-item-color: var(--color-primary);
    --navigation-item-text-shadow: 0 0 0.5px var(--color-primary);
  }

  &.is-active {
    --navigation-item-color: var(--color-primary);
    --navigation-item-border-color: var(--color-primary);
    --navigation-item-text-shadow: 0 0 0.5px var(--color-primary);
  }
}
