:root {
  /* Tabs Nav-Panel */
  --tabs-nav-panel-height: 40px;
  --tabs-nav-panel-shadow-color: rgba(221, 236, 249, 0.5);
  --tabs-nav-panel-shadow: 0 0 8px var(--tabs-nav-panel-shadow-color);
  /* Tabs Navigation */
  --tabs-navigation-gap: 11px;
  --tabs-navigation-item-background-color: transparent;
  --tabs-navigation-item-color: var(--color-primary);
  --tabs-navigation-item-text-shadow: 0 0 0 transparent;
  /* Tab */
  --tab-state: none;
  /* Scroll */
  --scroll-gap: 4px;
}

/* Tabs Nav Panel */
.tabs__nav-panel {
  margin: var(--padding-default) calc(var(--padding-default) * -1) 14px;
  padding: 0 var(--padding-default) 0 calc(var(--padding-default) / 2);
  display: flex;
  justify-content: space-between;
  height: var(--tabs-nav-panel-height);
  box-shadow: var(--tabs-nav-panel-shadow);
}

/* Tabs Navigation */
.tabs__navigation {
  display: flex;
}

.tabs__navigation-item {
  padding: calc(var(--tabs-navigation-gap) * 0.75) var(--tabs-navigation-gap);
  background-color: var(--tabs-navigation-item-background-color);
  color: var(--tabs-navigation-item-color);
  text-shadow: var(--tabs-navigation-item-text-shadow);
  transition:
    background-color var(--transition-duration) ease,
    text-shadow var(--transition-duration) ease,
    color var(--transition-duration) ease;

  &:hover {
    --tabs-navigation-item-text-shadow: 0 0 0.5px
      var(--tabs-navigation-item-color);
  }

  &.is-active {
    --tabs-navigation-item-background-color: var(--color-secondary);
    --tabs-navigation-item-text-shadow: 0 0 0.5px
      var(--tabs-navigation-item-color);
  }
}

/* Tab */
.tab {
  margin: 0 calc(var(--padding-default) * -1);
  display: var(--tab-state);
  /* scroll */
  overflow: auto;
  scrollbar-gutter: stable;

  &.is-active {
    --tab-state: block;
  }
}

/* Scroll "tricks" */
/* .tab::-webkit-scrollbar {
  height: 10px;
}
.tab::-webkit-scrollbar-track {
  background: transparent;
  border-block-start: 1px solid var(--color-secondary);
  border-block-end: 1px solid var(--color-secondary);
}
.tab::-webkit-scrollbar-thumb {
  background: var(--color-primary-passive);
}
.tab::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-active);
} */
